PrimaryExports%%
# A = Climatology? Y/N; B = Conservative regridding? Y/N
#-------------------+-------------------+-+-+---------------------+--------+--------+-------------------------------------
# Export name       | Units             |A|B| Time template       | Offset | Scale  | Variable     | File template
#-------------------+-------------------+-+-+---------------------+--------+--------+--------------+----------------------
  emis_CH4biofuel        'kg m-2 s-1'    N Y  F0                    none     none     ch4_biofuel    /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/EDGARv6/EDGAR-v6.0-emis_ch4.x3600_y1800.%y4%m2.nc
  emis_CH4agwaste        'kg m-2 s-1'    N Y  F0                    none     none     ch4_agwaste    /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/EDGARv6/EDGAR-v6.0-emis_ch4.x3600_y1800.%y4%m2.nc
  emis_CH4extract        'kg m-2 s-1'    N Y  F0                    none     none     ch4_extract    /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/EDGARv6/EDGAR-v6.0-emis_ch4.x3600_y1800.%y4%m2.nc
  emis_CH4industrial     'kg m-2 s-1'    N Y  F0                    none     none     ch4_industrial /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/EDGARv6/EDGAR-v6.0-emis_ch4.x3600_y1800.%y4%m2.nc
  emis_CH4transport      'kg m-2 s-1'    N Y  F0                    none     none     ch4_transport  /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/EDGARv6/EDGAR-v6.0-emis_ch4.x3600_y1800.%y4%m2.nc
  emis_CH4onat           'kg m-2 s-1'    N Y  F0                    none     none     ch4_onat       /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/misc/ONat-emis_ch4.x360_y180.%y4%m2.nc
  emis_CH4fire           'kg m-2 s-1'    N Y  F0                    none     none     ch4_fire       /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/QFED/2.5r1/QFED-emis_ch4.x3600_y1800.%y4%m2.nc
  emis_CH4wetland        'kg m-2 s-1'    N Y  F0                    none     none     ch4_wetlands   /discover/nobackup/projects/gmao/geos_carb/sbasu1/fluxes/CH4/v2022.2/LPJ/LPJ-emis_ch4.x720_y360.%y4%m2.nc
  emis_CH4null           'kg m-2 s-1'    N Y  F0                    none     none     null           /dev/null
  emis_CH4noemi          'kg m-2 s-1'    N Y  F0                    none     none     null           /dev/null
  soil                   NA              Y Y  %y4-%m2-%d2t12:00:00  none     0.016043 flux           /discover/nobackup/sstrode/emissions/raw_CH4/flux_CH4_SOIL_SINK.nc
  CH4_Cl                 NA              Y Y  %y4-%m2-%d2t12:00:00  none     none     cl             /discover/nobackup/mmanyin/CCM/EXT_DATA/ECCOH/gmiorig_oh_ch4_cl_o1d.x144_y91_z72_t12.2006.nc
  CH4_O1D                NA              Y Y  %y4-%m2-%d2t12:00:00  none     none     o1d            /discover/nobackup/mmanyin/CCM/EXT_DATA/ECCOH/gmiorig_oh_ch4_cl_o1d.x144_y91_z72_t12.2006.nc
  CH4_regionMask         NA              N v  -                     none     none     REGION_MASK    /discover/nobackup/sstrode/emissions/CH4_region_mask.x1440_y720.nc
  CH4_oh                 NA              Y Y  %y4-%m2-%d2t12:00:00  none     none     oh             /discover/nobackup/mmanyin/CCM/EXT_DATA/ECCOH/gmiorig_oh_ch4_cl_o1d.x144_y91_z72_t12.2006.nc
%%

DerivedExports%%
# Turn ON used exports for single-source variables
#-------------+------------------------------------------------------------------------------------+---------------------
# Export name | Primary name                                                                       | Time Template
#-------------+------------------------------------------------------------------------------------+---------------------
CH4_sfcFlux      emis_CH4biofuel+emis_CH4agwaste+emis_CH4extract+emis_CH4industrial+emis_CH4transport+emis_CH4onat+emis_CH4fire+emis_CH4wetland+soil %y4-%m2-%d2t12:00:00
CH4_sfcFluxfos   emis_CH4biofuel+emis_CH4agwaste+emis_CH4extract+emis_CH4industrial+emis_CH4transport  %y4-%m2-%d2t12:00:00
CH4_sfcFluxwetland   emis_CH4wetland+soil     %y4-%m2-%d2t12:00:00
CH4_sfcFluxbbtrop    emis_CH4fire             %y4-%m2-%d2t12:00:00
%%
